{% extends "main.html" %}
{% block content %}
<div>
<form method="POST" action="" class="row g-2 needs-validation" novalidate>
{% csrf_token %}

   

<div class="col-md-4">
    <label for="validationCustomUsername" class="form-label">Username</label>
    <div class="input-group has-validation">
      <span class="input-group-text" id="inputGroupPrepend">@</span>
      <input type="text" name="username" placeholder="User Name" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
      <div class="invalid-feedback">
        Please choose a username.
      </div>
      <div class="valid-feedback">
      Looks good!
      </div>
    </div>
</div>


<div class="col-md-4">
    <label for="validationCustomPassword" class="form-label">Password</label>
    <div class="input-group has-validation">
      <span class="input-group-text" id="inputGroupPrepend">#</span>
      <input type="text" name="password" placeholder="Pass the word" class="form-control" id="validationCustomPassword" aria-describedby="inputGroupPrepend" required>
      <div class="invalid-feedback">
        Please choose a Password.
      </div>
    </div>
</div>





    <input type="submit" value="Log me in Baby">
</form>


</div>

<script>

// Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>

{% endblock content %}